.App {
  color: white;
}

.title {
  padding: 1em;
  color: white;
  text-align: center;
  margin: 0;
}

.todoForm {
  margin-left: 2em;
  padding: 20px;
  margin-bottom: 1.5em;
}

.formFeild {
  margin-left: 1em;
}

.todoHeading {
  text-align: left;
  width: 100%;
}

.todos {
  display: grid;
  grid-template-columns: 70% 30%;
}

button {
  margin-left: 1em;
}