body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-image: url('https://images.pexels.com/photos/68562/pexels-photo-68562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
